/* Universal page styling */
* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin: 1;
    padding: 1;
    scroll-behavior: smooth;
}
/* Background image */
body {
    background-size: cover;
    background-position: center center;
}

/* navigation bar */
.nav {
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: aliceblue;
    color: black;
    position:sticky;
    top:0;
    width:100%;
}

.nav a:hover {
    color:navy;
    text-shadow: 0 5px 10px lightseagreen;
}
/* Page header with name and job title */
main section {
    display: flex;
    margin: 3px;
    justify-content: left;
}

main section, .title {
    font-size:20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: black;
}
/* Text and headlines for sections */
main section .div, .h2 {
    display: flex;
    text-align: left;
    flex-direction: column;
    flex-wrap: wrap;
    color: black;
}

/* Add text shadow when mouse hovers over text*/
a:hover {
    color:navy;
    text-shadow: 5px 10px 30px lightseagreen;
}

/* Styling for content in About Me, My Work, and Contact Info */
#about, #work, #contact {
    display:flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    line-height: 5;
}

#figure {
    display: flex;
    width: auto;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-style: italic;
    font-size: smaller;
    line-height: 2;
    border: 2px silver solid;
    border-radius: 15px;    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    padding: 10px;
    margin: 30px;
}
  #figCaption {
    display: table-caption;
    caption-side: bottom;
  }

/* Remove bullet points and add spacing to list items in contact section */  
ul {
    list-style-type: none;
    line-height: 2;
}

/* Formating for picture of myself*/
#photo {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 25%;
   height: 25%;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}   
/* Formating for project gifs*/
#project1, #project2, #project3 {
    width: 500px;
    height: auto;
}

/* Styling for web page footer*/
.footer {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    background-color: aliceblue;
    color: black;
    bottom:0;
    width:100%;
}

/* Media query */
@media screen and (max-width:660px) {
    main section {
        flex-direction:column;
    }

    main section, .title {
        width: 100%;
        text-align: center;
        justify-content: center;   
    }

    main section, .content {
        width: 100%;
        text-align: center;
        justify-content: space-evenly;
    }
}