.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: aliceblue;
    color: black;
}

.headline {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: black;
}

.text, .h2 {
    display: flex;
    text-align: left;
    flex-direction: column;
    flex-wrap: wrap;
    color: black;
}

.h4 {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: black;
}

#about, #work {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content:flex-start;
}

#contact {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

#photo {
    width: 250px;
    height: auto;
}

#miniProject {
    width: 500px;
    height: auto;
}