nav {
    display:flex;
    text-align: left;
    flex-direction: row-reverse;
    background-color:aliceblue;
    color: black;
}

text, h1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: black;
}

.contact {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
}